
/* General Background for the ScrollPane */
.Background {
    -fx-background-color: transparent; /* Set ScrollPane background to transparent */
    -fx-padding: 10; /* Optional padding */
}

/* Targeting the internal viewport of the ScrollPane */
.ScrollPane .viewport {
    -fx-background-color: transparent; /* Set ScrollPane background to transparent */
}

/* Optional: You can style the ScrollBar as well */
.ScrollPane .scroll-bar {
    -fx-background-color: transparent; /* Transparent background for scrollbar */
}

/* Optional: Customize header and cell styles */
.header-label {
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-background-color: #e4e4e4;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 0;
    -fx-margin: 0;
}

/*.cell-label {*/
/*    !*-fx-background-color: white;*!*/
/*    -fx-background-color: #061fff;*/
/*    -fx-border-color: black;*/
/*    -fx-border-width: 1px;*/
/*    -fx-padding: 5px; !* Padding to make the clickable area larger *!*/
/*    -fx-wrap-text: false; !* Prevent text wrapping *!*/
/*}*/


